<%= simple_nested_form_for Album.new  do |f| %>
    <%= render 'shared/error_message' ,target: @album%>

  <div class="form-actions">
    <%= f.input :album_name %>
    <label>Year</label>
    <%= f.input :year, collection: Date.today.year.downto(1900).to_a, label: false%>
    <%#= f.collection_select  @genre_languages, label_method: :genre_language_name, value_method: :id %>
    <label>Language</label>
    <%= f.collection_select :id, @genre_languages ,:id,:genre_language_name ,  {:include_blank => "Select Language"} , :label => "Language"%>
    <!-- GenreLanguage.order(:genre_language_name)-->
    <%= f.association :genre_type, label_method: :genre_type_name, value_method: :id, prompt: "Select type" %>

    <%= f.input :image, as: :attachment_preview %>

    <%#= f.simple_fields_for :artists do |artist|%>
             <%#= f.input :artist_name %>
    <%# end  %>
    <%= f.button :submit, class: "btn btn-primary"%>
    <%= f.submit 'Create & Add New' , class: "btn btn-success"%>
  </div>
<% end %>

<!--<script>-->
//  $(document).ready(function(){
//     $('#album_id').change(function(){
//         var id_value_string = $(this).val();
//         //alert($('#album_id option:selected').val());
         var r = <%= @genre_languages %>
//     });
//  });
<!--</script>-->


