<p id="notice"><%= notice %></p>
<%= @genre_language.genre_language_name %>
<%= link_to 'Edit', edit_genre_language_path(@genre_language) %> |
<%= link_to 'Back', genre_languages_path %>

<%= link_to 'New Genre language', new_genre_language_path %>
<%= link_to 'All Genre language', genre_languages_path %>